@{
    Layout = "_Layout";
}

<div class="jumbotron">
    <h1>Tamagotchi</h1>
    <h4>Keep this poor creature alive</h4>
</div>



<div id="tamagotchi-view">

<form action="/Create-Tamagotchi" method="post">
    <button class='btn btn-default'>Create a Tamagotchi!</button>
</form>

</div>

<form action="/Feed-Tamagotchi" method="post">
    <button type='submit' class='btn btn-default'>Feed!</button>
</form>

<form action="/Rest-Tamagotchi" method="post">
    <button type='submit' class='btn btn-default'>Rest!</button>
</form>

<form action="/Water-Tamagotchi" method="post">
    <button type='submit' class='btn btn-default'>Give Water!</button>
</form>

<form action="/Attention-Tamagotchi" method="post">
    <button type='submit' class='btn btn-default'>Play!</button>
</form>
